{% extends 'base.html.twig' %}

{% block title %}
    Résever l'annonce :
    	
    {{ ad.title }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha512-x2MVs84VwuTYP0I99+3A4LWPZ9g+zT4got7diQzWB4bijVsfwhNZU2ithpKaq6wTuHeLhqJICjqE6HffNlYO7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}

                <div class="container">
                    <h1>
                        Réservez pour l'annonce :
                        		
                        <em>
                            {{ ad.title }}
                        </em>
                    </h1>
                    <p>
                        Vous étes sur le point de réserver le bien de
                        			
                        <strong>
                            {{ ad.author.fullName }}
                        </strong>
                        , dites nous tout, on s'occupe du reste !
                    </p>
                    {{ form_start(form) }}
                    <div class="alert alert-light">
                        <h2 class="h4">
                            Commencez par nous dire quelles sont les dates qui vous intéressent !
                        </h2>
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.startDate) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.endDate) }}
                            </div>
                        </div>

                        <h4 class="mt-2">
                            Montant du séjour : 
                            			
                            <span id="amount">
                                ...
                            </span>
                            &euro;
                        </h4>
                        <span id="days">
                            0
                        </span>
                        nuit(s) à
                        		
                        {{ ad.price | number_format(2, ',', '') }}
                        &euro;
                        		par nuit
                        		
                        
                    </div>

                    <h2>
                        Vous avez terminé
                    </h2>
                    <p>
                        Vacances de réve ? hébergement pour le bouolot ? Peu importe, on est avec vous !
                    </p>
                    <button type="submit" class="btn btn-success">
                        Je réserve !
                    </button>
                    {{ form_end(form) }}
                </div>
            {% endblock %}

           