{% extends 'admin/base.html.twig' %}

{% block title %}
    Administration des comment !
            
        
    
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">
            Gestion des commentaires
                                
                    
        </h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                                                                    
                                            
                    </th>
                    <th>
                        Date
                                                                    
                                            
                    </th>
                    <th>
                        Auteur
                                                                    
                                            
                    </th>
                    <th class="text-center">
                        Commentaire
                                                                    
                                            
                    </th>
                    <th class="text-center">
                        Note
                                                                    
                                            
                    </th>
                    <th>
                        Annonce
                                                                    
                                            
                    </th>
                    <th>
                        Actions
                                                                    
                                            
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for comment in pagination.data %}

                    <tr>
                        <td>
                            {{ comment.id }}
                        </td>
                        <td>
                            {{ comment. createdAt|date('d/m/Y H:i') }}
                        </td>

                        <td>
                            <img src="{{ comment.author.picture }}" alt="Avatar de {{ comment.author.fullName }}" class="avatar avatar-micro mr-2">
                                {{ comment.author.fullName }}
                            </td>
                            <td>

                                {{ comment.content }}
                            </td>
                            <td class="text-center">
                                <span class="btn btn-dark rounded">
                                    {{ comment.rating }}
                                </span>
                            </td>
                            <td>
                                {{ comment.ad.title }}
                            </td>
                            <td>
                                <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{{ path('admin_comments_delete', {'id': comment.id}) }}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {% set page = pagination.page %}
                {% set pages = pagination.pages %}

                <ul class="pagination">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('admin_comments_index', {'page': page -1 }) }}">
                            &laquo;                      
                                                                    
                                        
                        </a>
                    </li>
                    {% for i in 1..pages %}
                        <li class="page-item {% if page == i %} active{% endif %}">

                            <a class="page-link" href="{{ path('admin_comments_index', {'page': i }) }}">

                                {{ i }}

                            </a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if page == pages %}disabled{% endif %}"></li>

                    <a class="page-link" href="{{ path('admin_comments_index', {'page': page + 1 }) }}">

                        &raquo;                        
                                                        
                                
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
